h1#res_name #{restaurant.name}
strong#res_fee Delivery Fee: $#{Number(restaurant.delivery_fee).toFixed(2)} | Minimum Order: $#{Number(restaurant.min_order).toFixed(2)}
#id Restaurant ID: #{restaurant.id}