html(lang='en')
  head 
    title COMP A3 
    script(type="module" src="../public/js/restaurant_page.js")
  body#maincontent
    include ./partials/header

    h3 Welcome to our Restaurant Service Home Page!
    br
    input(type="button" value="Get Indexes" onclick="id_getter()")
    | 
    input(type="button" value="Get HTML" onclick="html_getter()")