html(lang='en')
  head 
    title COMP A3 
    script(type="module" src="/js/restaurant_page.js")
  body#maincontent
    include ../partials/header

    h3 Welcome to our Restaurant Service Home Page!