link(rel='stylesheet' href='/css/header.css' type='text/css')
link(href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet")
#header 
  #header-items
    a(href="/").header-item Home
    |  
    a(href="/restaurants").header-item Restaurants
    |  
    a(href="/addrestaurant").header-item Add Restaurant
    br 
  #header-background-pattern